USE [Agencia]
GO
/****** Object:  Table [dbo].[TB_CIDADE]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CIDADE](
	[CODIGO] [int] NOT NULL,
	[NOME] [nvarchar](50) NULL,
	[UF] [nvarchar](2) NULL,
	[SITUACAO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_AREA]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_AREA](
	[CODIGO] [int] NOT NULL,
	[DESCRICAO] [nvarchar](100) NULL,
	[SITUACAO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_IDIOMA]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_IDIOMA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [nvarchar](50) NULL,
	[NOME_LOGIN] [nvarchar](20) NULL,
	[SENHA] [nvarchar](10) NULL,
	[SITUACAO] [char](1) NULL,
	[ELEVACAO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_NACIONALIDADE]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NACIONALIDADE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_ASSOCIACAO_EMPRESA_CARGOS]    Script Date: 09/21/2017 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_ASSOCIACAO_EMPRESA_CARGOS]
@ASSOCIACAO INT,
@EMPRESA INT,
@CARGO INT,
@SITUACAO CHAR

AS BEGIN
   UPDATE TB_EMPRESA_CARGO SET EMPRESA = @EMPRESA,CARGO = @CARGO,SITUACAO = @SITUACAO
   WHERE CODIGO_ASSOCIACAO = @ASSOCIACAO
END
GO
/****** Object:  Table [dbo].[TB_ENTIDADE_ENSINO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ENTIDADE_ENSINO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_ENTIDADE] [nvarchar](50) NULL,
	[CIDADE] [int] NULL,
	[SITUACAO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CARGO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CARGO](
	[CODIGO] [int] NOT NULL,
	[DESCRICAO] [nvarchar](100) NULL,
	[AREA] [int] NULL,
	[SITUACAO] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CANDIDATO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CANDIDATO](
	[CODIGO] [int] NOT NULL,
	[NOME] [nvarchar](150) NULL,
	[DATA_NASCIMENTO] [date] NULL,
	[TIPO_DOC] [int] NULL,
	[DOCUMENTO] [nvarchar](15) NULL,
	[SEXO] [char](1) NULL,
	[CIDADE] [int] NULL,
	[OBS] [nvarchar](max) NULL,
	[FACEBOOK] [nvarchar](70) NULL,
	[TELEFONE] [nvarchar](10) NULL,
	[CELULAR] [nvarchar](11) NULL,
	[ENDERECO] [nvarchar](100) NULL,
	[DATA_INCLUSAO] [datetime] NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
	[SITUACAO] [char](1) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[RACA] [int] NULL,
	[FUMANTE] [int] NULL,
	[TATUAGEM_AMOSTRA] [int] NULL,
	[WHATSAPP] [int] NULL,
	[NOME_SOCIAL] [nvarchar](50) NULL,
	[FOTO] [nvarchar](max) NULL,
	[BOA_APARENCIA] [int] NULL,
	[FILHOS_MENOR] [int] NULL,
	[FILHOS_MAIOR] [int] NULL,
	[ESTADO_CIVIL] [int] NULL,
	[HAB_A] [int] NULL,
	[HAB_B] [int] NULL,
	[HAB_C] [int] NULL,
	[HAB_D] [int] NULL,
	[NACIONALIDADE] [int] NULL,
	[OPERADORA_CELULAR] [int] NULL,
	[HAB_E] [int] NULL,
	[CONDUCAO_PROPRIA] [int] NULL,
	[INDICADO] [int] NULL,
	[NOME_INDICADOR] [nvarchar](30) NULL,
	[TEL_RECADO_1] [nvarchar](11) NULL,
	[NOME_RECADO_1] [nvarchar](30) NULL,
	[TEL_RECADO_2] [nvarchar](11) NULL,
	[NOME_RECADO_2] [nvarchar](30) NULL,
	[TEL_RECADO_3] [nvarchar](11) NULL,
	[NOME_RECADO_3] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_EMPRESA]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_EMPRESA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME_FANTASIA] [nvarchar](100) NULL,
	[RAZ_SOCIAL] [nvarchar](100) NULL,
	[SITUACAO] [char](1) NULL,
	[CLIENTE] [int] NULL,
	[CIDADE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CIDADE]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CIDADE]
@STATUS INT OUTPUT,
@NOME NVARCHAR(50),
@UF NVARCHAR(2),
@SITUACAO CHAR

AS
BEGIN

DECLARE @EXISTE INT
DECLARE @ULTIMO_CODIGO INT

SET @EXISTE = (SELECT COUNT(*) FROM TB_CIDADE WHERE NOME = @NOME AND UF = @UF)
SET @STATUS = 0

IF @EXISTE = 0
BEGIN
      SET @ULTIMO_CODIGO = (SELECT MAX(CODIGO) FROM TB_CIDADE) + 1
      
      INSERT INTO TB_CIDADE VALUES(
      @ULTIMO_CODIGO,
      @NOME,
      @UF,
      @SITUACAO
      )
      
      SET @STATUS = 1
      END
ELSE
      SET @STATUS = -1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_CIDADE]    Script Date: 09/21/2017 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_CIDADE]
@STATUS INT OUTPUT,
@CODIGO INT,
@NOME NVARCHAR(50),
@UF NVARCHAR(2),
@SITUACAO CHAR

AS
BEGIN

DECLARE @EXISTE INT

SET @EXISTE = (SELECT COUNT(*) FROM TB_CIDADE WHERE NOME = @NOME AND UF = @UF OR CODIGO = @CODIGO)
SET @STATUS = 0

IF @EXISTE <= 1
BEGIN
           
      UPDATE TB_CIDADE SET
      NOME = @NOME,
      UF = @UF,
      SITUACAO = @SITUACAO
      
      WHERE CODIGO = @CODIGO
      
      SET @STATUS = 1
      END
ELSE
      SET @STATUS = -1
END

select * from tb_cidade
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_CANDIDATO]    Script Date: 09/21/2017 18:36:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_CANDIDATO]
--@STATUS INT OUTPUT,
@CODIGO INT,
@NOME NVARCHAR(150),
@DATA_NASCIMENTO DATE,
@TIPO_DOC INT,
@DOCUMENTO NVARCHAR(15),
@SEXO CHAR,
@CIDADE INT,
@OBS NVARCHAR(MAX),
@FACEBOOK NVARCHAR(70),
@TELEFONE NVARCHAR(10),
@CELULAR NVARCHAR(11),
@WHATSAPP CHAR,
@ENDERECO NVARCHAR(100),
@DATA_ATUALIZACAO DATETIME,
@SITUACAO CHAR,
@EMAIL NVARCHAR(100),
@RACA INT,
@FUMANTE CHAR,
@TATUAGEM_AMOSTRA CHAR,
@NOME_SOCIAL NVARCHAR(50),
@FOTO NVARCHAR(MAX),
@BOA_APARENCIA INT,
@FILHOS_MENOR INT,
@FILHOS_MAIOR INT,
@ESTADO_CIVIL INT,
@HAB_A INT,
@HAB_B INT,
@HAB_C INT,
@HAB_D INT,
@NACIONALIDADE INT,
@OPERADORA_CELULAR INT,
@HAB_E INT,
@CONDUCAO_PROPRIA INT,
@INDICADO INT,
@NOME_INDICADOR NVARCHAR(30),
@TEL_RECADO_1 NVARCHAR(11),
@NOME_RECADO_1 NVARCHAR(30),

@TEL_RECADO_2 NVARCHAR(11),
@NOME_RECADO_2 NVARCHAR(30),

@TEL_RECADO_3 NVARCHAR(11),
@NOME_RECADO_3 NVARCHAR(30)

AS
BEGIN


--DECLARE @TOTALEXISTENTE INT

--SET @TOTALEXISTENTE = (SELECT COUNT(*) FROM TB_CANDIDATO WHERE NOME = @NOME AND DOCUMENTO = @DOCUMENTO AND CODIGO = @CODIGO)
--SET @STATUS = 0

--IF @TOTALEXISTENTE <= 1
--BEGIN
   UPDATE TB_CANDIDATO SET
   NOME = @NOME,
   DATA_NASCIMENTO = @DATA_NASCIMENTO,
   TIPO_DOC = @TIPO_DOC,
   DOCUMENTO = @DOCUMENTO,
   SEXO = @SEXO,
   CIDADE = @CIDADE,
   OBS = @OBS,
   FACEBOOK = @FACEBOOK,
   TELEFONE = @TELEFONE,
   CELULAR = @CELULAR,
   WHATSAPP = @WHATSAPP,
   ENDERECO = @ENDERECO,
   DATA_ATUALIZACAO = @DATA_ATUALIZACAO,
   SITUACAO = @SITUACAO,
   EMAIL = @EMAIL,
   RACA = @RACA,
   FUMANTE = @FUMANTE,
   TATUAGEM_AMOSTRA = @TATUAGEM_AMOSTRA,
   NOME_SOCIAL = @NOME_SOCIAL,
   FOTO = @FOTO,
   BOA_APARENCIA = @BOA_APARENCIA,
   FILHOS_MENOR = @FILHOS_MENOR,
   FILHOS_MAIOR = @FILHOS_MAIOR,
   ESTADO_CIVIL = @ESTADO_CIVIL,
   HAB_A = @HAB_A,
   HAB_B = @HAB_B,
   HAB_C = @HAB_C,
   HAB_D = @HAB_D,
   NACIONALIDADE = @NACIONALIDADE,
   OPERADORA_CELULAR = @OPERADORA_CELULAR,
   HAB_E = @HAB_E,
   CONDUCAO_PROPRIA = @CONDUCAO_PROPRIA,
   INDICADO = @INDICADO,
   NOME_INDICADOR = @NOME_INDICADOR,
   TEL_RECADO_1 = @TEL_RECADO_1,
   NOME_RECADO_1 = @NOME_RECADO_1,
   
   TEL_RECADO_2 = @TEL_RECADO_2,
   NOME_RECADO_2 = @NOME_RECADO_2,
   
   TEL_RECADO_3 = @TEL_RECADO_3,
   NOME_RECADO_3 = @NOME_RECADO_3
   
   WHERE CODIGO = @CODIGO
   
--   SET @STATUS = 1
--   END
--ELSE
--   SET @STATUS = -1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_ENTIDADE]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_ENTIDADE]
@STATUS INT OUT,
@NOME_ENTIDADE NVARCHAR(50),
@CIDADE INT,
@SITUACAO CHAR

AS BEGIN
   DECLARE @EXISTENTE INT
   
   SET @STATUS = 0
   SET @EXISTENTE = (SELECT COUNT(*) FROM TB_ENTIDADE_ENSINO WHERE NOME_ENTIDADE = @NOME_ENTIDADE AND CIDADE = @CIDADE)
   
   IF @EXISTENTE = 0 BEGIN
      INSERT INTO TB_ENTIDADE_ENSINO VALUES(@NOME_ENTIDADE,@CIDADE,@SITUACAO) 
      SET @STATUS = 1 END
   ELSE
      SET @STATUS = -1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_EMPRESA]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_EMPRESA]
@STATUS INT OUT,
@RAZ_SOCIAL NVARCHAR(100),
@NOME_FANTASIA NVARCHAR(100),
@SITUACAO CHAR,
@CLIENTE INT,
@CIDADE INT

AS BEGIN 
   DECLARE @EXISTENTE INT
   
   SET @STATUS = 0
   SET @EXISTENTE = (SELECT COUNT(*) FROM TB_EMPRESA WHERE RAZ_SOCIAL = @RAZ_SOCIAL AND CIDADE = @CIDADE)
   
   IF @EXISTENTE = 0 BEGIN
      INSERT INTO TB_EMPRESA VALUES(@NOME_FANTASIA,
                                    @RAZ_SOCIAL,
                                    @SITUACAO,
                                    @CLIENTE,
                                    @CIDADE)
      SET @STATUS = 1 END
   ELSE
      SET @STATUS = -1 END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CANDIDATO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CANDIDATO]
@CODIGO INT OUTPUT,
@NOME NVARCHAR(150),
@DATA_NASCIMENTO DATE,
@TIPO_DOC INT,
@DOCUMENTO NVARCHAR(15),
@SEXO CHAR,
@CIDADE INT,
@OBS NVARCHAR(MAX),
@FACEBOOK NVARCHAR(70),
@TELEFONE NVARCHAR(10),
@CELULAR NVARCHAR(11),
@ENDERECO NVARCHAR(100),
@DATA_INCLUSAO DATETIME,
@DATA_ATUALIZACAO DATETIME,
@SITUACAO CHAR,
@EMAIL NVARCHAR(100),
@RACA INT,
@FUMANTE INT,
@TATUAGEM_AMOSTRA INT,
@WHATSAPP INT,
@NOME_SOCIAL NVARCHAR(50),
@FOTO NVARCHAR(MAX),
@BOA_APARENCIA INT,
@FILHOS_MENOR INT,
@FILHOS_MAIOR INT,
@ESTADO_CIVIL INT,
@HAB_A INT,
@HAB_B INT,
@HAB_C INT,
@HAB_D INT,
@NACIONALIDADE INT,
@OPERADORA_CELULAR INT,
@HAB_E INT,
@CONDUCAO_PROPRIA INT,
@INDICADO INT,
@NOME_INDICADOR NVARCHAR(30),

@TEL_RECADO_1 NVARCHAR(11),
@NOME_RECADO_1 NVARCHAR(30),

@TEL_RECADO_2 NVARCHAR(11),
@NOME_RECADO_2 NVARCHAR(30),

@TEL_RECADO_3 NVARCHAR(11),
@NOME_RECADO_3 NVARCHAR(30)

AS
BEGIN

DECLARE @LINHAS INT

--SET @LINHAS = (SELECT COUNT(*) FROM TB_CANDIDATO WHERE NOME = @NOME OR DOCUMENTO = @DOCUMENTO)
--SET @STATUS = 0

--IF @LINHAS = 0
--BEGIN
     
   SET @CODIGO = (SELECT MAX(CODIGO) FROM TB_CANDIDATO) + 1
   
   INSERT INTO TB_CANDIDATO VALUES(
   @CODIGO,
   @NOME,
   @DATA_NASCIMENTO,
   @TIPO_DOC,
   @DOCUMENTO,
   @SEXO,
   @CIDADE,
   @OBS,
   @FACEBOOK,
   @TELEFONE,
   @CELULAR,
   @ENDERECO,
   @DATA_INCLUSAO,
   @DATA_ATUALIZACAO,
   @SITUACAO,
   @EMAIL,
   @RACA,
   @FUMANTE,
   @TATUAGEM_AMOSTRA,
   @WHATSAPP,
   @NOME_SOCIAL,
   @FOTO,
   @BOA_APARENCIA,
   @FILHOS_MENOR,
   @FILHOS_MAIOR,
   @ESTADO_CIVIL,
   @HAB_A,
   @HAB_B,
   @HAB_C,
   @HAB_D,
   @NACIONALIDADE,
   @OPERADORA_CELULAR,
   @HAB_E,
   @CONDUCAO_PROPRIA,
   @INDICADO,
   @NOME_INDICADOR,
   @TEL_RECADO_1,
   @NOME_RECADO_1,
   @TEL_RECADO_2,
   @NOME_RECADO_2,
   @TEL_RECADO_3,
   @NOME_RECADO_3)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_ENTIDADE]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_ENTIDADE]
@STATUS INT OUT,
@CODIGO INT,
@ENTIDADE NVARCHAR(50),
@CIDADE INT,
@SITUACAO CHAR

AS BEGIN
   DECLARE @EXISTE INT
   
   SET @STATUS = 0
   SET @EXISTE = (SELECT COUNT(*) FROM TB_ENTIDADE_ENSINO WHERE NOME_ENTIDADE = @ENTIDADE AND CIDADE = @CIDADE)
   
   IF @EXISTE <= 1 BEGIN
      UPDATE TB_ENTIDADE_ENSINO SET
             NOME_ENTIDADE = @ENTIDADE,
             CIDADE = @CIDADE,
             SITUACAO = @SITUACAO
             
             WHERE CODIGO = @CODIGO
             
      SET @STATUS = 1 END
   ELSE
      SET @STATUS = -1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_EMPRESA]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_EMPRESA]
@STATUS INT OUT,
@CODIGO INT,
@NOME_FAN NVARCHAR(100),
@RAZ_SOCIAL NVARCHAR(100),
@SITUACAO CHAR,
@CLIENTE INT,
@CIDADE INT

AS BEGIN
   DECLARE @EXISTE INT
   
   SET @STATUS = 0
   SET @EXISTE = (SELECT COUNT(*) FROM TB_EMPRESA WHERE RAZ_SOCIAL = @RAZ_SOCIAL AND CIDADE = @CIDADE OR CODIGO = @CODIGO)
   
   IF @EXISTE <= 1 BEGIN
      UPDATE TB_EMPRESA SET NOME_FANTASIA = @NOME_FAN,RAZ_SOCIAL = @RAZ_SOCIAL,SITUACAO = @SITUACAO,CLIENTE = @CLIENTE,CIDADE = @CIDADE
      WHERE CODIGO = @CODIGO
      
      SET @STATUS = 1 END
   ELSE
      SET @STATUS = -1
END
GO
/****** Object:  Table [dbo].[TB_CURSO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_CURSO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nvarchar](100) NULL,
	[ENTIDADE] [int] NULL,
	[SITUACAO] [char](1) NULL,
	[CATEGORIA] [int] NULL,
	[CARGA_HORARIA] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CURRICULO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA_INCLUSAO] [datetime] NULL,
	[CANDIDATO] [int] NULL,
	[CLASSIFICACAO] [int] NULL,
	[OBS] [nvarchar](max) NULL,
	[ESCOLARIDADE] [int] NULL,
	[DATA_ATUALIZACAO] [datetime] NULL,
	[ULTIMO_SALARIO] [decimal](10, 2) NULL,
	[DIGITALIZACAO_CURRICULO] [nvarchar](max) NULL,
	[PRETENSAO_SALARIAL] [decimal](10, 2) NULL,
	[DIGITALIZACAO_CURRICULO_2] [nvarchar](max) NULL,
	[DIGITALIZACAO_CURRICULO_3] [nvarchar](max) NULL,
	[TURNO] [int] NULL,
	[ESTUDANDO] [int] NULL,
	[ULTIMA_SERIE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CARGO_PRETENDIDO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CARGO_PRETENDIDO](
	[CURRICULO] [int] NULL,
	[CARGO] [int] NULL,
	[PRINCIPAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_CARGO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CARGO_CURRICULO](
	[CURRICULO] [int] NULL,
	[DATA_INICIO] [date] NULL,
	[DATA_FINAL] [date] NULL,
	[FUNCOES_DESEMP] [nvarchar](max) NULL,
	[CESTA_BASICA] [int] NULL,
	[VALE_TRANSPORTE] [int] NULL,
	[PLR] [int] NULL,
	[CONVENIO_MEDICO] [int] NULL,
	[VALE_REFEICAO] [int] NULL,
	[SEGURO_VIDA] [int] NULL,
	[AJUDA_CUSTO_ENSINO] [int] NULL,
	[AUX_CRECHE] [int] NULL,
	[AUX_DENTISTA] [int] NULL,
	[MOTIVO_SAIDA] [nvarchar](max) NULL,
	[VL_CESTA_BASICA] [decimal](10, 2) NULL,
	[VL_VALE_TRANSPORTE] [decimal](10, 2) NULL,
	[VL_PLR] [decimal](10, 2) NULL,
	[VL_CONVENIO_MEDICO] [decimal](10, 2) NULL,
	[VL_VALE_REFEICAO] [decimal](10, 2) NULL,
	[VL_SEGURO_VIDA] [decimal](10, 2) NULL,
	[VL_AJUDA_CUSTO_ENSINO] [decimal](10, 2) NULL,
	[VL_AUX_CRECHE] [decimal](10, 2) NULL,
	[VL_AUX_DENTISTA] [decimal](10, 2) NULL,
	[CARGO] [int] NULL,
	[EMPRESA] [int] NULL,
	[VL_RECEBIDO_FORA] [decimal](10, 2) NULL,
	[REGISTRADO] [int] NULL,
	[SALARIO] [decimal](10, 2) NULL,
	[ATUAL] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_CURSO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_CURSO]
@STATUS INT OUT,
@CODIGO INT,
@DESCRICAO NVARCHAR(100),
@ENTIDADE INT,
@SITUACAO CHAR,
@CATEGORIA INT,
@CARGA_HORARIA NVARCHAR(10)

AS BEGIN 
   DECLARE @EXISTE INT
   
   SET @STATUS = 0
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CURSO WHERE DESCRICAO = @DESCRICAO AND ENTIDADE = @ENTIDADE)
   
   IF @EXISTE <= 1 BEGIN
      UPDATE TB_CURSO SET 
                      DESCRICAO = @DESCRICAO,
                      ENTIDADE = @ENTIDADE,
                      SITUACAO = @SITUACAO,
                      CATEGORIA = @CATEGORIA,
                      CARGA_HORARIA = @CARGA_HORARIA
                      
                      WHERE CODIGO = @CODIGO
       SET @STATUS = 1 END
    ELSE
       SET @STATUS = -1
       
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ALTERAR_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ALTERAR_CURRICULO]
@CODIGO INT,
@DATA_INCLUSAO DATETIME,
@CANDIDATO INT,
@CLASSIFICACAO INT,
@OBS NVARCHAR(MAX),
@ESCOLARIDADE INT,
@DATA_ATUALIZACAO DATETIME,
@ULTIMO_SALARIO DECIMAL(10,2),
@DIGITALIZACAO_CURRICULO NVARCHAR(MAX),
@PRETENSAO_SALARIAL DECIMAL(10,2),
@DIGITALIZACAO_CURRICULO_2 NVARCHAR(MAX),
@DIGITALIZACAO_CURRICULO_3 NVARCHAR(MAX),
@TURNO INT,
@ESTUDANDO INT,
@ULTIMA_SERIE INT

AS BEGIN      
       UPDATE TB_CURRICULO SET
                           DATA_INCLUSAO = @DATA_INCLUSAO,
                           CANDIDATO = @CANDIDATO,
                           CLASSIFICACAO = @CLASSIFICACAO,
                           OBS = @OBS,
                           ESCOLARIDADE = @ESCOLARIDADE,
                           DATA_ATUALIZACAO = @DATA_ATUALIZACAO,
                           ULTIMO_SALARIO = @ULTIMO_SALARIO,
                           DIGITALIZACAO_CURRICULO = @DIGITALIZACAO_CURRICULO,
                           PRETENSAO_SALARIAL = @PRETENSAO_SALARIAL,
                           DIGITALIZACAO_CURRICULO_2 = @DIGITALIZACAO_CURRICULO_2,
                           DIGITALIZACAO_CURRICULO_3 = @DIGITALIZACAO_CURRICULO_3,
                           TURNO = @TURNO,
                           ESTUDANDO = @ESTUDANDO,
                           ULTIMA_SERIE = @ULTIMA_SERIE
                           
                           WHERE CODIGO = @CODIGO
END
       
       
 
 SELECT * FROM TB_CURRICULO
GO
/****** Object:  StoredProcedure [dbo].[SP_INCLUIR_CURSO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INCLUIR_CURSO]
@STATUS INT OUT,
@DESCRICAO NVARCHAR(100),
@ENTIDADE INT,
@SITUACAO CHAR,
@CATEGORIA INT,
@CARGA_HORARIA NVARCHAR(10)

AS BEGIN
   DECLARE @EXISTE INT
   
   SET @STATUS = 0
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CURSO WHERE DESCRICAO = @DESCRICAO AND ENTIDADE = @ENTIDADE)
   
   IF @EXISTE = 0 BEGIN
      INSERT INTO TB_CURSO VALUES(@DESCRICAO,@ENTIDADE,@SITUACAO,@CATEGORIA,@CARGA_HORARIA)
      SET @STATUS = 1 END
   ELSE
      SET @STATUS = -1 END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CURRICULO]
@CODIGO INT OUTPUT,
@EXISTE INT OUTPUT,
@DATA_INCLUSAO DATETIME,
@CANDIDATO INT,
@CLASSIFICACAO INT,
@OBS NVARCHAR(MAX),
@ESCOLARIDADE INT,
@DATA_ATUALIZACAO DATETIME,
@ULTIMO_SALARIO DECIMAL(10,2),
@DIGITALIZACAO_CURRICULO NVARCHAR(MAX),
@PRETENSAO_SALARIAL DECIMAL(10,2),
@DIGITALIZACAO_CURRICULO_2 NVARCHAR(MAX),
@DIGITALIZACAO_CURRICULO_3 NVARCHAR(MAX),
@TURNO INT,
@ESTUDANDO INT,
@ULTIMA_SERIE INT

AS BEGIN  
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CURRICULO WHERE CANDIDATO = @CANDIDATO)
   
   IF @EXISTE = 0 BEGIN
   	   INSERT INTO TB_CURRICULO VALUES(
								@DATA_INCLUSAO,
								@CANDIDATO,
								@CLASSIFICACAO,
								@OBS,
								@ESCOLARIDADE,
								@DATA_ATUALIZACAO,
								@ULTIMO_SALARIO,
								@DIGITALIZACAO_CURRICULO,
								@PRETENSAO_SALARIAL,
								@DIGITALIZACAO_CURRICULO_2,
								@DIGITALIZACAO_CURRICULO_3,
								@TURNO,
								@ESTUDANDO,
								@ULTIMA_SERIE
								)
	                            
	   SET @CODIGO = @@IDENTITY END
END
GO
/****** Object:  Table [dbo].[TB_CURSO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_CURSO_CURRICULO](
	[CURSO] [int] NULL,
	[CURRICULO] [int] NULL,
	[DATA_INICIAL] [date] NULL,
	[DATA_FINAL] [date] NULL,
	[CONCLUIDO] [int] NULL,
	[OBS] [nvarchar](max) NULL,
	[DIG_CERTIFICADO] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_IDIOMA_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_IDIOMA_CURRICULO](
	[CURRICULO] [int] NULL,
	[IDIOMA] [int] NULL,
	[NATIVO] [int] NULL,
	[OBS] [nvarchar](max) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_HISTORICO]    Script Date: 09/21/2017 18:36:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_HISTORICO](
	[CURRICULO] [int] NOT NULL,
	[DATA] [datetime] NULL,
	[DESCRICAO] [nvarchar](max) NULL,
	[USUARIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CURRICULO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_IDIOMAS_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_IDIOMAS_CURRICULO]
@CURRICULO INT,
@IDIOMA INT,
@NATIVO INT,
@OBS NVARCHAR(MAX)

AS BEGIN
   DECLARE @EXISTE INT = (SELECT COUNT(*) FROM TB_IDIOMA_CURRICULO WHERE IDIOMA = @IDIOMA AND CURRICULO = @CURRICULO)
   
   IF @EXISTE = 0 BEGIN   
      INSERT INTO TB_IDIOMA_CURRICULO VALUES(@CURRICULO,@IDIOMA,@NATIVO,@OBS) END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CURSO_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CURSO_CURRICULO]
@CURSO INT,
@CURRICULO INT,
@DATA_INICIO DATE,
@DATA_FINAL DATE,
@CONCLUIDO INT,
@OBS NVARCHAR(MAX),
@DIG_CERTIFICADO NVARCHAR(MAX)

AS BEGIN
   
   DECLARE @EXISTE INT
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CURSO_CURRICULO WHERE CURSO = @CURSO AND CURRICULO = @CURRICULO)
   
   IF @EXISTE = 0 BEGIN
	   INSERT INTO TB_CURSO_CURRICULO VALUES(
										  @CURSO,
										  @CURRICULO,
										  @DATA_INICIO,
										  @DATA_FINAL,
										  @CONCLUIDO,
										  @OBS,
										  @DIG_CERTIFICADO
										  )   END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CARGOS_PRETENDIDOS_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CARGOS_PRETENDIDOS_CURRICULO]
@CURRICULO INT,
@CARGO INT,
@PRINCIPAL INT

AS BEGIN
   DECLARE @EXISTE INT
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CARGO_PRETENDIDO WHERE CURRICULO = @CURRICULO AND CARGO = @CARGO)
   
   IF @EXISTE = 0 BEGIN
			INSERT INTO TB_CARGO_PRETENDIDO VALUES(@CURRICULO,@CARGO,@PRINCIPAL) END
   END
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERIR_CARGO_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INSERIR_CARGO_CURRICULO]
@CURRICULO INT,
@DATA_INICIO DATE,
@DATA_FINAL DATE,
@FUNCOES_DESEMP NVARCHAR(MAX),
@CESTA_BASICA INT,
@VALE_TRANSPORTE INT,
@PLR INT,
@CONVENIO_MEDICO INT,
@VALE_REFEICAO INT,
@SEGURO_VIDA INT,
@AJUDA_CUSTO_ENSINO INT,
@AUX_CRECHE INT,
@AUX_DENTISTA INT,
@MOTIVO_SAIDA NVARCHAR(MAX),
@VL_CESTA_BASICA DECIMAL(10,2),
@VL_VALE_TRANSPORTE DECIMAL(10,2),
@VL_PLR DECIMAL(10,2),
@VL_CONVENIO_MEDICO DECIMAL(10,2),
@VL_VALE_REFEICAO DECIMAL(10,2),
@VL_SEGURO_VIDA DECIMAL(10,2),
@VL_AJUDA_CUSTO_ENSINO DECIMAL(10,2),
@VL_AUX_CRECHE DECIMAL(10,2),
@VL_AUX_DENTISTA DECIMAL(10,2),
@CARGO INT,
@EMPRESA INT,
@VL_RECEBIDO_FORA DECIMAL(10,2),
@REGISTRADO INT,
@SALARIO DECIMAL(10,2),
@ATUAL INT


AS BEGIN

   DECLARE @EXISTE INT
   SET @EXISTE = (SELECT COUNT(*) FROM TB_CARGO_CURRICULO WHERE CURRICULO = @CURRICULO AND EMPRESA = @EMPRESA AND CARGO = @CARGO AND DATA_INICIO = @DATA_INICIO AND DATA_FINAL = @DATA_FINAL)
   
   IF @EXISTE = 0 BEGIN
			   INSERT INTO TB_CARGO_CURRICULO VALUES(
											  @CURRICULO,
											  @DATA_INICIO,
											  @DATA_FINAL,
											  @FUNCOES_DESEMP,
											  @CESTA_BASICA,
											  @VALE_TRANSPORTE,
											  @PLR,
											  @CONVENIO_MEDICO,
											  @VALE_REFEICAO,
											  @SEGURO_VIDA,
											  @AJUDA_CUSTO_ENSINO,
											  @AUX_CRECHE,
											  @AUX_DENTISTA,
											  @MOTIVO_SAIDA,
											  @VL_CESTA_BASICA,
											  @VL_VALE_TRANSPORTE,
											  @VL_PLR,
											  @VL_CONVENIO_MEDICO,
											  @VL_VALE_REFEICAO,
											  @VL_SEGURO_VIDA,
											  @VL_AJUDA_CUSTO_ENSINO,
											  @VL_AUX_CRECHE,
											  @VL_AUX_DENTISTA,
											  @CARGO,
											  @EMPRESA,
											  @VL_RECEBIDO_FORA,
											  @REGISTRADO,
											  @SALARIO,
											  @ATUAL
											  )END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETAR_IDIOMA_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETAR_IDIOMA_CURRICULO]
@IDIOMA INT,
@CURRICULO INT

AS BEGIN
   DELETE FROM TB_IDIOMA_CURRICULO WHERE IDIOMA = @IDIOMA AND CURRICULO = @CURRICULO
   END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETAR_CURSO_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETAR_CURSO_CURRICULO]
@CURSO INT,
@CURRICULO INT

AS BEGIN
   DELETE FROM TB_CURSO_CURRICULO WHERE CURSO = @CURSO AND CURRICULO = @CURRICULO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETAR_CARGO_PRETENDIDO_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETAR_CARGO_PRETENDIDO_CURRICULO]
@CURRICULO INT,
@CARGO_PRETENDIDO INT

AS BEGIN
   DELETE FROM TB_CARGO_PRETENDIDO WHERE CURRICULO = @CURRICULO AND CARGO = @CARGO_PRETENDIDO END
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETAR_CARGO_CURRICULO]    Script Date: 09/21/2017 18:36:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETAR_CARGO_CURRICULO]
@CARGO INT,
@CURRICULO INT

AS BEGIN
   DELETE FROM TB_CARGO_CURRICULO WHERE CARGO = @CARGO AND CURRICULO = @CURRICULO
END
GO
/****** Object:  ForeignKey [FK_CANDIDATO_NACIONALIDADE]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CANDIDATO]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDATO_NACIONALIDADE] FOREIGN KEY([NACIONALIDADE])
REFERENCES [dbo].[TB_NACIONALIDADE] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CANDIDATO] CHECK CONSTRAINT [FK_CANDIDATO_NACIONALIDADE]
GO
/****** Object:  ForeignKey [FK_CIDADE]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CANDIDATO]  WITH CHECK ADD  CONSTRAINT [FK_CIDADE] FOREIGN KEY([CIDADE])
REFERENCES [dbo].[TB_CIDADE] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CANDIDATO] CHECK CONSTRAINT [FK_CIDADE]
GO
/****** Object:  ForeignKey [FK_CARGO_AREA]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_AREA] FOREIGN KEY([AREA])
REFERENCES [dbo].[TB_AREA] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO] CHECK CONSTRAINT [FK_CARGO_AREA]
GO
/****** Object:  ForeignKey [FK_CARGO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_CURRICULO] FOREIGN KEY([CARGO])
REFERENCES [dbo].[TB_CARGO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO_CURRICULO] CHECK CONSTRAINT [FK_CARGO_CURRICULO]
GO
/****** Object:  ForeignKey [FK_CURRICULO_CARGO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULO_CARGO] FOREIGN KEY([CURRICULO])
REFERENCES [dbo].[TB_CURRICULO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO_CURRICULO] CHECK CONSTRAINT [FK_CURRICULO_CARGO]
GO
/****** Object:  ForeignKey [FK_EMPRESA_CARGO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_CARGO_CURRICULO] FOREIGN KEY([EMPRESA])
REFERENCES [dbo].[TB_EMPRESA] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO_CURRICULO] CHECK CONSTRAINT [FK_EMPRESA_CARGO_CURRICULO]
GO
/****** Object:  ForeignKey [FK_CARGO_PRETENDIDO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO_PRETENDIDO]  WITH CHECK ADD  CONSTRAINT [FK_CARGO_PRETENDIDO_CURRICULO] FOREIGN KEY([CARGO])
REFERENCES [dbo].[TB_CARGO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO_PRETENDIDO] CHECK CONSTRAINT [FK_CARGO_PRETENDIDO_CURRICULO]
GO
/****** Object:  ForeignKey [FK_CURRICULO_CARGO_PRETENDIDO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CARGO_PRETENDIDO]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULO_CARGO_PRETENDIDO] FOREIGN KEY([CURRICULO])
REFERENCES [dbo].[TB_CURRICULO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CARGO_PRETENDIDO] CHECK CONSTRAINT [FK_CURRICULO_CARGO_PRETENDIDO]
GO
/****** Object:  ForeignKey [FK_CANDIDATO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CANDIDATO_CURRICULO] FOREIGN KEY([CANDIDATO])
REFERENCES [dbo].[TB_CANDIDATO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CURRICULO] CHECK CONSTRAINT [FK_CANDIDATO_CURRICULO]
GO
/****** Object:  ForeignKey [PK_CURSO_ENTIDADE]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CURSO]  WITH CHECK ADD  CONSTRAINT [PK_CURSO_ENTIDADE] FOREIGN KEY([ENTIDADE])
REFERENCES [dbo].[TB_ENTIDADE_ENSINO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CURSO] CHECK CONSTRAINT [PK_CURSO_ENTIDADE]
GO
/****** Object:  ForeignKey [FK_CURRICULO_CURSO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CURSO_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULO_CURSO] FOREIGN KEY([CURRICULO])
REFERENCES [dbo].[TB_CURRICULO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CURSO_CURRICULO] CHECK CONSTRAINT [FK_CURRICULO_CURSO]
GO
/****** Object:  ForeignKey [FK_CURSO_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_CURSO_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CURSO_CURRICULO] FOREIGN KEY([CURSO])
REFERENCES [dbo].[TB_CURSO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_CURSO_CURRICULO] CHECK CONSTRAINT [FK_CURSO_CURRICULO]
GO
/****** Object:  ForeignKey [FK_EMPRESA_CIDADE]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_EMPRESA_CIDADE] FOREIGN KEY([CIDADE])
REFERENCES [dbo].[TB_CIDADE] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_EMPRESA] CHECK CONSTRAINT [FK_EMPRESA_CIDADE]
GO
/****** Object:  ForeignKey [FK_ENTIDADE_ENSINO_CIDADE]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_ENTIDADE_ENSINO]  WITH CHECK ADD  CONSTRAINT [FK_ENTIDADE_ENSINO_CIDADE] FOREIGN KEY([CIDADE])
REFERENCES [dbo].[TB_CIDADE] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_ENTIDADE_ENSINO] CHECK CONSTRAINT [FK_ENTIDADE_ENSINO_CIDADE]
GO
/****** Object:  ForeignKey [FK_CURRICULO_HISTORICO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_HISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULO_HISTORICO] FOREIGN KEY([CURRICULO])
REFERENCES [dbo].[TB_CURRICULO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_HISTORICO] CHECK CONSTRAINT [FK_CURRICULO_HISTORICO]
GO
/****** Object:  ForeignKey [FK_USUARIO_HISTORICO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_HISTORICO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_HISTORICO] FOREIGN KEY([USUARIO])
REFERENCES [dbo].[TB_USUARIO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_HISTORICO] CHECK CONSTRAINT [FK_USUARIO_HISTORICO]
GO
/****** Object:  ForeignKey [FK_CURRICULO_IDIOMA]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_IDIOMA_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULO_IDIOMA] FOREIGN KEY([CURRICULO])
REFERENCES [dbo].[TB_CURRICULO] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_IDIOMA_CURRICULO] CHECK CONSTRAINT [FK_CURRICULO_IDIOMA]
GO
/****** Object:  ForeignKey [FK_IDIOMA_CURRICULO]    Script Date: 09/21/2017 18:36:44 ******/
ALTER TABLE [dbo].[TB_IDIOMA_CURRICULO]  WITH CHECK ADD  CONSTRAINT [FK_IDIOMA_CURRICULO] FOREIGN KEY([IDIOMA])
REFERENCES [dbo].[TB_IDIOMA] ([CODIGO])
GO
ALTER TABLE [dbo].[TB_IDIOMA_CURRICULO] CHECK CONSTRAINT [FK_IDIOMA_CURRICULO]
GO
